{% extends 'base.html.twig' %}

{% block title %}Edit Eleve{% endblock %}

{% block body %}
    <h1 class="text-2xl py-5">Modifier l'élève</h1>

    {{ include('eleve/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_eleve_index') }}" class="inline-flex items-center px-4 py-2 mb-2 text-sm font-medium text-white bg-blue-700 border border-transparent rounded-md hover:bg-blue-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
     Back to List
    </a>


    {{ include('eleve/_delete_form.html.twig') }}
{% endblock %}
