{% extends 'base.html.twig' %}

{% block title %}Edit Eleve{% endblock %}

{% block body %}
    <h1 class="text-2xl py-5">Modifier l'élève</h1>

    {{ include('eleve/_form.html.twig', {'button_label': 'Update'}) }}


    {{ include('eleve/_delete_form.html.twig') }}
{% endblock %}
