<form method="post" action="{{ path('app_communication_delete', {'id': communication.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ communication.id) }}">
    <button class="btn">Delete</button>
</form>
