{% extends 'base.html.twig' %}

{% block title %}Edit Communication{% endblock %}

{% block body %}
    <h1>Edit Communication</h1>

    {{ include('communication/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('communication/_delete_form.html.twig') }}
{% endblock %}
