{% extends 'base.html.twig' %}

{% block body %}
    <div class="flex justify-center items-center h-full">
        {% if formateur and formateur.organisme|length > 0 %}
            <div class="flex flex-wrap gap-4">
                {%for organisme in formateur.organisme %}
                    <a href="{{ path("app_organisme_show",{id: organisme.id}) }}">
                        <div class="p-10 border border-blue-500 rounded-lg">
                            {{ organisme.id }}
                        </div>
                    </a>
                {% endfor %}
            </div>
        {% else %}
            <div class="flex flex-col items-center justify-center gap-y-4 text-2xl font-bold">
                <p>Vous n'avez pas d'organisme</p>
                <a href="/organisme/new">
                    <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                        Créer un organisme
                    </button>
                </a>
            </div>
        {% endif %}
    </div>
{% endblock %}


