{% extends 'base.html.twig' %}

{% block body %}
    <div class="flex justify-center items-center">
        {% if app.user and app.user.formateur.organisme|length > 0   %}
            {%for organisme in app.user.formateur.organisme %}
                {{ organisme.id }}
            {% endfor %}
        {% else %}
            <a href="/organisme/new">
                <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                    Créer un organisme
                </button>
            </a>
        {% endif %}
    </div>
{% endblock %}


