{% extends 'base.html.twig' %}

{% block body %}
  <section class="max-w-sm mx-auto">
    <h1>Création d'un nouveau cours</h1>
    {{ include('cours/_form.html.twig') }}

    <a class="font-medium text-blue-600 dark:text-blue-500 hover:underline" href="{{ path('app_cours_index') }}">Retour à la liste</a>
  </section>
{% endblock %}
