{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1 class="text-2xl py-5">Mon profile</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
